name: Code checks

on:
  workflow_call:
  workflow_dispatch:

jobs:
    actions_lint_check:
        name: Actions lint check
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6
            -   name: Run actionlint
                uses: rhysd/actionlint@v1.7.10

    lint_check:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   name: Use Node.js
                uses: actions/setup-node@v6
                with:
                    node-version-file: '.nvmrc'
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'
            -   name: Install Dependencies
                run: npm ci --force
            -   name: Lint
                run: npm run lint

    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   name: Use Node.js
                uses: actions/setup-node@v6
                with:
                    node-version-file: '.nvmrc'
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'
            -   name: Install Dependencies
                run: npm ci --force
            -   name: Build
                run: npm run build

    test:
        name: Test
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   name: Use Node.js
                uses: actions/setup-node@v6
                with:
                    node-version-file: '.nvmrc'
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'
            -   name: Install Dependencies
                run: npm ci --force
            -   name: Test
                run: npm run test

    type_check:
        name: Type check
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   name: Use Node.js
                uses: actions/setup-node@v6
                with:
                    node-version-file: '.nvmrc'
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'
            -   name: Install Dependencies
                run: npm ci --force
            -   name: Type checks
                run: npm run type-check
